@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Eduker – Online Course & Education HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/meanmenu.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl-carousel.css">
    <link rel="stylesheet" href="/css/swiper-bundle.css">
    <link rel="stylesheet" href="/css/backtotop.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/font-awesome-pro.css">
    <link rel="stylesheet" href="/css/spacing.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!-- error area start -->
    <section class="error__area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-8">
                    <div class="error__content text-center">
                        <div class="error__thumb m-img mb-45">
                            <img src="https://media.istockphoto.com/id/1136351242/vector/like-social-media-hand-line-icon-editable-stroke-pixel-perfect-for-mobile-and-web.jpg?s=612x612&w=0&k=20&c=OnKkq5JCHkLvZ1Ck_njtTQMCyLljXsXGNhGqVpwwVUA=" alt="">
                        </div>
                        <div class="error__content">
                            <h3>Password Changed Succesfully</h3>

                            <div class="error__btn">
                                <a href="/" class="tp-btn">Back to home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- error area end -->
    <!-- JS here -->
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/waypoints.js"></script>
    <script src="/js/bootstrap-bundle.js"></script>
    <script src="/js/meanmenu.js"></script>
    <script src="/js/swiper-bundle.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/magnific-popup.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/backtotop.js"></script>
    <script src="/js/nice-select.js"></script>
    <script src="/js/counterup.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/isotope-pkgd.js"></script>
    <script src="/js/imagesloaded-pkgd.js"></script>
    <script src="/js/ajax-form.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
