<!-- offcanvas area start -->
<div class="offcanvas__area">
    <div class="modal fade" id="offcanvasmodal" tabindex="-1" aria-labelledby="offcanvasmodal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="offcanvas__wrapper">
                    <div class="offcanvas__content">
                        <div class="offcanvas__top mb-40 d-flex justify-content-between align-items-center">
                            <div class="offcanvas__logo logo">
                                <a href="/">
                                    <img src="/img/logo/logo.png" alt="logo">
                                </a>
                            </div>
                            <div class="offcanvas__close">
                                <button class="offcanvas__close-btn" data-bs-toggle="modal" data-bs-target="#offcanvasmodal">
                                    <i class="fal fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="mobile-menu fix"></div>
                        <div class="offcanvas__text d-none d-lg-block">
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and will give you a complete account of the system and expound the actual teachings of the great explore</p>
                        </div>
                        <div class="offcanvas__map d-none d-lg-block mb-15">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29176.030811137334!2d90.3883827!3d23.924917699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1605272373598!5m2!1sen!2sbd"></iframe>
                        </div>
                        @*<div class="offcanvas__contact mt-30 mb-20">
                            <h4>Contact Info</h4>
                            <ul>
                                <li class="d-flex align-items-center">
                                    <div class="offcanvas__contact-icon mr-15">
                                        <i class="fal fa-map-marker-alt"></i>
                                    </div>
                                    <div class="offcanvas__contact-text">
                                        <a target="_blank" href="https://www.google.com/maps/place/Dhaka/23.7806207,90.3492859,12z/data=!3m1!4b1!4m5!3m4!1s0x3755b8b087026b81:0x8fa563bbdd5904c2!8m2!3d23.8104753!4d90.4119873">12/A, Mirnada City Tower, NYC</a>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="offcanvas__contact-icon mr-15">
                                        <i class="far fa-phone"></i>
                                    </div>
                                    <div class="offcanvas__contact-text">
                                        <a href="mailto:support@gmail.com">088889797697</a>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="offcanvas__contact-icon mr-15">
                                        <i class="fal fa-envelope"></i>
                                    </div>
                                    <div class="offcanvas__contact-text">
                                        <a href="tel:+012-345-6789">support@mail.com</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="offcanvas__social">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- offcanvas area end -->
<div class="body-overlay"></div>
<!-- offcanvas area end -->

<main>

<!-- breadcrumb area start -->
<section class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay" data-background="/img/breadcrumb/breadcrumb-bg-1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="breadcrumb__content text-center p-relative z-index-1">
                    <h3 class="breadcrumb__title">Our Blog</h3>
                    <div class="breadcrumb__list">
                        <span>
                            <a href="/">Home</a>
                        </span>
                        <span class="dvdr">
                            <i class="fa-regular fa-angle-right"></i>
                        </span>
                        <span>Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->

<!-- blog area start -->
<section class="blog__area pt-120">
<div class="container">
<div class="row">
<div class="col-xxl-8 col-xl-8 col-lg-8">
    <div class="postbox__wrapper pr-20">
        <article class="postbox__item format-image mb-50 transition-3">
            <div class="postbox__thumb w-img">
                <a href="blog-details.html">
                    <img src="/img/blog/blog-big-1.jpg" alt="">
                </a>
            </div>
            <div class="postbox__content">
                <div class="postbox__meta">
                    <span><i class="far fa-calendar-check"></i> July 21, 2020 </span>
                    <span>
                        <a href="#"><i class="far fa-user"></i> Shahnewaz</a>
                    </span>
                    <span>
                        <a href="#"><i class="fal fa-comments"></i> 02 Comments</a>
                    </span>
                </div>
                <h3 class="postbox__title">
                    <a href="blog-details.html">Personalized Storage in Schools</a>
                </h3>
                <div class="postbox__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat [因</p>
                </div>
                <div class="postbox__read-more">
                    <a href="blog-details.html" class="tp-btn">read more</a>
                </div>
            </div>
        </article>
        <article class="postbox__item format-video mb-50 transition-3">
            <div class="postbox__thumb postbox__video w-img p-relative">
                <a href="blog-details.html">
                    <img src="/img/blog/blog-big-7.jpg" alt="">
                </a>
                <a href="https://youtu.be/-WRZI63emjs" class="play-btn pulse-btn popup-video">
                    <i class="fas fa-play"></i>
                </a>
            </div>
            <div class="postbox__content">
                <div class="postbox__meta">
                    <span><i class="far fa-calendar-check"></i> July 21, 2020 </span>
                    <span>
                        <a href="#"><i class="far fa-user"></i> Shahnewaz</a>
                    </span>
                    <span>
                        <a href="#"><i class="fal fa-comments"></i> 02 Comments</a>
                    </span>
                </div>
                <h3 class="postbox__title">
                    <a href="blog-details.html">A Podpourri of Learning Options: Pods, Hubs, and Microschools</a>
                </h3>
                <div class="postbox__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat [因</p>
                </div>
                <div class="postbox__read-more">
                    <a href="blog-details.html" class="tp-btn">read more</a>
                </div>
            </div>
        </article>
        <article class="postbox__item format-audio mb-50 transition-3">
            <div class="postbox__thumb postbox__audio w-img p-relative">
                <iframe allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/316547873&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
            </div>
            <div class="postbox__content">
                <div class="postbox__meta">
                    <span><i class="far fa-calendar-check"></i> July 21, 2020 </span>
                    <span>
                        <a href="#"><i class="far fa-user"></i> Shahnewaz</a>
                    </span>
                    <span>
                        <a href="#"><i class="fal fa-comments"></i> 02 Comments</a>
                    </span>
                </div>
                <h3 class="postbox__title">
                    <a href="blog-details.html">Amplifying Student Voice to Design the Vision for Learning</a>
                </h3>
                <div class="postbox__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat [因</p>
                </div>
                <div class="postbox__read-more">
                    <a href="blog-details.html" class="tp-btn">read more</a>
                </div>
            </div>
        </article>
        <article class="postbox__item format-image mb-50 transition-3">
            <div class="postbox__thumb postbox__slider swiper-container w-img p-relative">
                <div class="swiper-wrapper">
                    <div class="postbox__slider-item swiper-slide">
                        <img src="/img/blog/blog-big-4.jpg" alt="">
                    </div>
                    <div class="postbox__slider-item swiper-slide">
                        <img src="/img/blog/blog-big-5.jpg" alt="">
                    </div>
                    <div class="postbox__slider-item swiper-slide">
                        <img src="/img/blog/blog-big-6.jpg" alt="">
                    </div>
                </div>
                <div class="postbox-nav">
                    <button class="postbox-slider-button-next">
                        <i class="fal fa-arrow-right"></i>
                    </button>
                    <button class="postbox-slider-button-prev">
                        <i class="fal fa-arrow-left"></i>
                    </button>
                </div>
            </div>
            <div class="postbox__content">
                <div class="postbox__meta">
                    <span><i class="far fa-calendar-check"></i> July 21, 2020 </span>
                    <span>
                        <a href="#"><i class="far fa-user"></i> Shahnewaz</a>
                    </span>
                    <span>
                        <a href="#"><i class="fal fa-comments"></i> 02 Comments</a>
                    </span>
                </div>
                <h3 class="postbox__title">
                    <a href="blog-details.html">Kicking off 2022 with the Future of Educational Technology Conference</a>
                </h3>
                <div class="postbox__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat [因</p>
                </div>
                <div class="postbox__read-more">
                    <a href="blog-details.html" class="tp-btn">read more</a>
                </div>
            </div>
        </article>
        <div class="basic-pagination">
            <nav>
                <ul>
                    <li>
                        <a asp-controller="Blogs" asp-action="Index">
                            <i class="far fa-angle-left"></i>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Blogs" asp-action="Index">1</a>
                    </li>
                    <li>
                        <span class="current">2</span>
                    </li>
                    <li>
                        <a asp-controller="Blogs" asp-action="Index">>3</a>
                    </li>
                    <li>
                        <a asp-controller="Blogs" asp-action="Index">
                            <i class="far fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="col-xxl-4 col-xl-4 col-lg-4">
    <div class="blog__sidebar pl-70">
        <div class="sidebar__widget mb-60">
            <div class="sidebar__widget-content">
                <div class="sidebar__search p-relative">
                    <form action="#">
                        <input type="text" placeholder="Search for courses...">
                        <button type="submit">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 584.4 584.4" style="enable-background:new 0 0 584.4 584.4;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path class="st0" d="M565.7,474.9l-61.1-61.1c-3.8-3.8-8.8-5.9-13.9-5.9c-6.3,0-12.1,3-15.9,8.3c-16.3,22.4-36,42.1-58.4,58.4    c-4.8,3.5-7.8,8.8-8.3,14.5c-0.4,5.6,1.7,11.3,5.8,15.4l61.1,61.1c12.1,12.1,28.2,18.8,45.4,18.8c17.1,0,33.3-6.7,45.4-18.8    C590.7,540.6,590.7,499.9,565.7,474.9z"/>
                                        <path class="st1" d="M254.6,509.1c140.4,0,254.5-114.2,254.5-254.5C509.1,114.2,394.9,0,254.6,0C114.2,0,0,114.2,0,254.5    C0,394.9,114.2,509.1,254.6,509.1z M254.6,76.4c98.2,0,178.1,79.9,178.1,178.1s-79.9,178.1-178.1,178.1S76.4,352.8,76.4,254.5    S156.3,76.4,254.6,76.4z"/>
                                    </g>
                                </g>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="sidebar__widget mb-55">
            <div class="sidebar__widget-head mb-35">
                <h3 class="sidebar__widget-title">Recent posts</h3>
            </div>
            <div class="sidebar__widget-content">
                <div class="rc__post-wrapper">
                    <div class="rc__post d-flex align-items-start">
                        <div class="rc__thumb mr-20">
                            <a href="blog-details.html">
                                <img src="/img/blog/sm/blog-sm-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="rc__content">
                            <div class="rc__meta">
                                <span>October 15, 2021</span>
                            </div>
                            <h6 class="rc__title">
                                <a href="blog-details.html">The Importance Intrinsic Motivation.</a>
                            </h6>
                        </div>
                    </div>
                    <div class="rc__post d-flex align-items-start">
                        <div class="rc__thumb mr-20">
                            <a href="blog-details.html">
                                <img src="/img/blog/sm/blog-sm-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="rc__content">
                            <div class="rc__meta">
                                <span>March 26, 2021</span>
                            </div>
                            <h6 class="rc__title">
                                <a href="blog-details.html">A Better Alternative To Grading Student.</a>
                            </h6>
                        </div>
                    </div>
                    <div class="rc__post d-flex align-items-start">
                        <div class="rc__thumb mr-20">
                            <a href="blog-details.html">
                                <img src="/img/blog/sm/blog-sm-3.jpg" alt="">
                            </a>
                        </div>
                        <div class="rc__content">
                            <div class="rc__meta">
                                <span>October 15, 2021</span>
                            </div>
                            <h6 class="rc__title">
                                <a href="blog-details.html">Strategic Social Media & Evolution of Visual</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar__widget mb-55">
            <div class="sidebar__widget-head mb-35">
                <h3 class="sidebar__widget-title">Category</h3>
            </div>
            <div class="sidebar__widget-content">
                <ul>
                    <li>
                        <a asp-controller="Blogs" asp-action="Index">Category</a>
                    </li>
                    <li>
                        <a asp-controller="Blogs" asp-action="Index">Video & Tips (4)</a>
                    </li>
                    <li>
                        <a asp-controller="Blogs" asp-action="Index">Education (8)</a>
                    </li>
                    <li>
                        <a asp-controller="Blogs" asp-action="Index">Business (5)</a>
                    </li>
                    <li>
                        <a asp-controller="Blogs" asp-action="Index">UX Design (3)</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar__widget mb-55">
            <div class="sidebar__widget-head mb-35">
                <h3 class="sidebar__widget-title">Tags</h3>
            </div>
            <div class="sidebar__widget-content">
                <div class="tagcloud">
                    <a href="#">Art & Design</a>
                    <a href="#">Course</a>
                    <a href="#">Videos</a>
                    <a href="#">App</a>
                    <a href="#">Education</a>
                    <a href="#">Data Science</a>
                    <a href="#">Machine Learning</a>
                    <a href="#">Tips</a>
                </div>
            </div>
        </div>
        <div class="sidebar__widget mb-55">
            <div class="sidebar__banner w-img">
                <img src="/img/blog/banner/banner-1.jpg" alt="">
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>
<!-- blog area end -->

</main>